# VIM extras
.session.vim
.vimsession
.*.sw[a-z]

# PyPi stuff
build
dist
*.egg-info

# Deleted
trash
garbage

# Python extras
*.pyc
.*.pyc
__pycache__

# Notebooks
*.ipynb
.ipynb_checkpoints
# !showcase.ipynb
# !logo.ipynb

# OS files
.DS_Store
.DS_Store?
._*
.Trashes
