# Hard requirements for notebook examples and documentation build
# WARNING: Keep this up-to-date with ci/environment.yml
# * basemap is broken as of matplotlib >= 3.3 so for documentation
#   use 3.2.1. Probably lots of basemap holdouts for next ~5 years.
# * basemap geography is weird with the geos >= 3.9.0 required by cartopy >=
#   0.19, but important to use 0.19 becuase it fixes padding, so live with it.
# * pyqt5 is needed by pyplot, RTD server *happens* to already have it
#   but creating local environment will fail.
# * jinja >= 3.0 and nbsphinx >= 0.8.2 seem to break default ReST roles when
#   jupytext notebooks are converted to HTML. Interpreted as italics instead.
# * markupsafe >= 2.1.0 seems to be broken with jinja < 3.0 so also have to
#   manually specify that: https://github.com/pallets/markupsafe/issues/284
# * docutils >= 0.17 breaks bullet points. See the following thread
#   for more info: https://github.com/readthedocs/sphinx_rtd_theme/issues/1115
name: proplot-dev
channels:
  - conda-forge
  - defaults
dependencies:
  - cartopy
  - docutils
  - ipykernel
  - jinja2
  - jupytext
  - markupsafe
  - matplotlib>=3.9.1
  - numpy>=1.26.0,<2
  - pandas
  - pandoc
  - pint
  - pip
  - pyqt
  - pytest
  - python
  - seaborn
  - setuptools==72.1.0
  - xarray
  - pip:
    - ..
    - basemap
    - sphinx-autoapi
    - basemap-data-hires
    # - git+https://github.com/proplot-dev/sphinx-automodapi@proplot-mods
    - sphinx-automodapi
    - nbsphinx
    - sphinx>=7,<8
    - sphinx-copybutton
    - sphinx-rtd-theme==2.1.0rc2
    - git+https://github.com/cvanelteren/sphinx-rtd-light-dark.git@mplv3.9.1
