# Hard requirements for notebook examples and documentation build
# Proplot itself just needs matplotlib
# Try to pip install stuff as it is lighter workload
name: proplot-dev
channels:
  - conda-forge
dependencies:
  - pip
  - numpy
  - xarray
  - pandas
  - matplotlib
  - cartopy
  - basemap
  - nbsphinx
  - sphinx
  - pip:
    - lxml
    - pyyaml
    - sphinx_rtd_theme
    - git+https://github.com/lukelbd/sphinx-automodapi@v0.6.proplot-mods
