# Requirements for building documentation
# No versions required because they are all loaded from scratch
# Ipykernel and ipython are for nbsphinx and ipython directives
# Automodapi is a fork that changes several features
# See: https://github.com/lukelbd/sphinx-automodapi/tree/proplot-mods
numpy
xarray
pandas
matplotlib
pyproj
cartopy
basemap
lxml
pyyaml
sphinx
nbsphinx
ipython
ipykernel
sphinx_rtd_theme
git+https://github.com/lukelbd/sphinx-automodapi@v0.6.proplot-mods
